# Dependency directories
node_modules/

# package-lock.json
package-lock.json

# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# dotenv environment variables file
.env

# Stores VSCode versions used for testing VSCode extensions
.vscode-test

#logs
*.log

#babel/build
/build

#migration
prisma/migrations

#snyk
.snyk

#tar.gz
ko.tar.gz

ko.bin

ko.vec

#zip
*.zip

#ebextenstion
.platform/

*.credentials.*